body {
	background-color: #d1f2f1;
	color: #363636;
	padding: 20px;
	max-width: 700px;
	margin: 0 auto;
	border: 1px solid #363636;
	margin: 15px;
}

nav {
	font-size: 16px;
	text-align: center;
	color: #3c8990;
	font-weight: bold;
}

article {
	padding-bottom: 10px;
}

#hero {
	text-align: center;
	font-size: 30px;
	font-style: italic;	
}

h1 {
	font-weight: bold;
	font-size: 24px;
}

h2 {
	font-weight: bold;	
	font-size: 18px;
}

a:hover{
	color: black;
}

.on-page {
	color: white;
}

.extra {
	color: #3c8990;
}

footer {
	font:8px;
}

li {
	color: #3c3c3c;
	font-weight: lighter;
	margin-bottom: 10px;

}

.profile {
	float: right;
	border: 1px solid #363636;
	padding: 3px;
	margin: 15px;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
